li>a:hover {
	border-bottom: 3px #5FB878 solid;
}

dt {
	cursor: default;
}

.set-info {
	cursor: pointer
}

.confirm-rec {
	border: 1px #ccc solid;
	padding: 5px;
	background-color: #fff;
}

.confirm-rec:hover {
	background: #006BBC;
}
#username{
	width: 180px; 
	font-size:30px;
	color:#fff;
	font-weight:bold;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.logout{
	float: right;
}